<div class="footer">
  <div class="social-icons mt-4">
    <p align="center">
      <a href="mailto:harinimaruthasalam@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
      <a href="https://www.instagram.com/_.harinuuu" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://www.linkedin.com/in/harini-m-b9247a226/" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://www.github.com/HariniMaruthasalam" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://www.hackerrank.com/21cs054_kpriet" target="_blank"><i class="fab fa-hackerrank"></i></a>
      <a href="https://www.kaggle.com/harinuu" target="_blank"><i class="fab fa-kaggle"></i></a>
    </p>
  </div>
  <p class="copyright">© 2023 Harini Maruthasalam.</p>
</div>
</body>

</html>
