
<%- include("partials/header"); -%>
<h1>Compose</h1>

<form method="post">
  <label for="title">DATE/DAY</label><br>
  <input type="text" id="title" class="form-control" name="title"><br><br>
  <label for="content">CONTENT</label><br><br>
  <textarea class="form-control" id="content" name="details" rows="3"></textarea><br>
  <button type="submit" class="btn btn-primary my-button">Post</button>
</form>

<%- include("partials/footer"); -%>
