
<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p class="contactContent">
      This is the contact section of our website. If you have any questions or inquiries, please feel free to reach out to us using the contact information provided below:
      <br>
      <br>
      Email: harinimaruthasalam@gmail.com
      <br>
      Instagram: @_.harinuuu
    </p>
<%- include("partials/footer"); -%>
